<form id="searchForm" action="doUpload" method="post" enctype="multipart/form-data">
    <input type="hidden" name="token" value="{{ csrf_token('upload') }}" />
    <div id="uploadfoto">
        <label>Subir Foto:</label>
        <input type="file" id="myfile" name="myfile" accept="image/x-png,image/gif,image/jpeg" class="dropify" >
        <input type="hidden" id="correo" name="correo" >
        <div id="result" style="display:none;"></div>
        <div id="result1" ></div>
    </div>
    <button id="btnSubmit" type="submit" class="btn btn-success waves-effect waves-light">Subir</button> 
</form>           
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script>
    /// al iniciar uploader esta desabilitado
   
    $(document).ready(function () {            
        /// si el value de myfile cambia 
        $("#myfile").change(function() {
            //// auto submit para subir la foto 
                $("#btnSubmit").click();
        });  
        $("#btnSubmit").prop('hidden', true);
        $("#searchForm").submit(function (event) { 
            $('#correo').val($('#result').text());
            //stop submit the form, we will post it manually.
            event.preventDefault();
            // Get form
            var form = $('#searchForm')[0];
            // Create an FormData object 
            var fd = new FormData(form);
            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "doUpload",
                data: fd,
                processData: false,
                contentType: false,
                cache: false,
                success: function (data) {
                    //alert(data);
                    $('#trabajador_foto').val(data);
                    $("#result1").html('Carga correcta').addClass( "alert alert-success" );  
                },
            });
            $("#btnSubmit").prop('hidden', true);
        });
    });
</script>