{% extends 'base_menu.html.twig' %}
{% block body_footer %}
    <footer class="footer">
        2019 © PMG System. <span class="d-none d-sm-inline-block"><a href="https://pmg.cl/"> www.pmg.cl </a></span>
    </footer>
{% endblock %}
